
/* Main Page 
-------------------------------------------------- */
html,
body {
  height: 100%;
  background-color:#fff;
  font-family: 'Source Sans Pro', sans-serif;
  /* The html and body elements cannot have any padding or margin. */
 /* border-top: 4px solid #2361FF;*/
}

/* Wrapper for page content to push down footer */
#wrap {
  padding-bottom: 50px; 
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -65px;
  /* Pad bottom by footer height */
  /*padding: 0 0 60px;*/
}


.panel-default h2 {
  text-align: left;
  line-height: 24px;
  font-size: 22px;
}
.panel-default h5 {
  text-align: left;
  line-height: 30px;
  font-size: 18px;
}
.panel-default h6 {
  font-size: 15px;
}

#pro{
   font-size: 20px;
}

.panel-default h4 a, h5 a {
  color: #0d47a1;
}

.panel-default h4 a:hover, h5 a:hover {
  color: #2196f3;
  text-decoration: underline;
}

.panel{
  border-style: none;
}
.panel-body {
  padding-top: -10px;
  text-align: left;
}

.social {
  padding-top: 12px;
  word-spacing: 25px;
}
.social h4 > a {
  color: #000000;
}
.social h4 > a:hover {
  color: #727272;
}
.avatar {
  padding-top: 4%;
}

.footer {
  text-decoration: none !important;
}
.text-muted {
  color: #6b6b6b;
}
div.footer{
  border-bottom: 8px solid #2196f3;
}

#avatar {
  border-radius: 100%;
  width: 170px;
  height:170px;
  
}

#test1, #test2, #test3, #test4, #test5, #test6{
  opacity: 0;
}

.name{
  margin-top: 10px;
}
#target{
  font-size: 48px;
  font-weight: bold;
}
#target-cursor{
  font-size: 50px;
  font-weight: bold;
}
#target-mark{
  font-size: 40px;
  font-weight: bold;
}


.container .text-muted {
  margin: 20px 0;
}


.hov:hover {
  
  color: #3f51b5;
  text-decoration: underline;
}