<header>
    <div class = "navbar">
                 <nav class = "blue lighten-2">
                  <div class="container">
                   <div class="nav-wrapper">
                     <a href="/" class="brand-logo" style="font-weight: bold;">Anil Khatri</a>
                     <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons" >menu</i></a>
                     <ul class="right hide-on-med-and-down " id = "navList">
                        <li class="hoverable"><a href="/" style="font-size:18px">Home</a></li>
                        <li class="hoverable"><a href="https://imkaka.hashnode.dev" style="font-size:18px">Blog</a></li>
                        <li class="hoverable"><a href="{{site.baseurl}}docs/Anil_Khatri.pdf" style="font-size:18px" target="_blank">Resume</a></li>
                        <li class="hoverable"><a href="{{site.baseurl}}projects.html" style="font-size:18px">Projects</a></li>
                     </ul>
                    </div>
                   </div>
                  </nav>
            </div>

            <ul class="sidenav blue lighten-2" id = "mobile-demo">
               <li class="hoverable"><a href="/" class = "white-text" style="font-size:18px">Home</a></li>
               <li class="hoverable"><a href="https://imkaka.hashnode.dev" class = "white-text" style="font-size:18px">Blog</a></li>
               <li class="hoverable"><a class = "white-text" href="{{site.baseurl}}docs/Anil_Khatri.pdf" style="font-size:18px" target="_blank">Resume</a></li>
               <li class="hoverable"><a class = "white-text" href="{{site.baseurl}}projects.html" style="font-size:18px">Projects</a></li>
             </ul>
</header>
