<section id="projects">
<div class="container center-align">
  <h4><strong><u><span style = "font-weight: bold">Projects</span></u></strong></h4>
  <div class="panel panel-default">
    <div class="panel-body">
    <h5>
        <i class="fab fa-youtube"></i>&nbsp;&nbsp;<strong><a href="https://youtu.be/zlYsegghev4">Animatronic Hand</a></strong>
        - Uses Arduino and fabricated Flex sensors to mimic the gestures of our hand to fabricated Animatronic hand.
    </h5>
    </div>
  </div>
</div>
</section>