<section id="projects">
<div class="container center-align">
  <h4><strong><u><span style = "font-weight: bold">Projects</span></u></strong></h4>
  <div class="panel panel-default">
    <div class="panel-body">
       
        <h5>
            <i class="fab fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/imkaka/Intro-to-Machine-Learning-Final-Project">Enron Fraud Detection</a></strong>
            - Part of Final Project Submission of <a href="https://classroom.udacity.com/courses/ud120-india">Intro to Machine Learning Udacity Course</a>.
              Finds Person of Interst from Enron Dataset used Decesion Tree Algorithm which scored 89% accurecy and 0.9 F1 Score.
           
          </h5>

      <h5>
            <i class="fab fa-youtube"></i>&nbsp;&nbsp;<strong><a href="https://youtu.be/zlYsegghev4">Animatronic Hand</a></strong>
            - Uses Arduino and fabricated Flex sensors to mimic the gestures of our hand to fabricated Animatronic hand.
      </h5>
      
    </div>
  </div>
</div>
</section>