<!--
<div class ="center-align ">
          <ul id = "soc">
              <li class="hoverable"><a href="mailto:anil.soccer.khatri@gmail.com" target="_blank"><img src="{{ site.baseurl }}img/mail.png" class="responsive-img"></a></li>
              <li class="hoverable"><a href="https://github.com/imkaka" target="_blank"><img src="{{ site.baseurl }}img/github.png" class="responsive-img"></a></li>
              <li class="hoverable"><a href="https://twitter.com/_imkaka" target="_blank"><img src="{{ site.baseurl }}img/twitter.png" class="responsive-img"></a></li>
              <li class="hoverable"><a href="https://www.linkedin.com/in/anil-khatri-0841223a/" target="_blank"><img src="{{ site.baseurl }}img/linkedin.png" class="responsive-img"></a></li>
              <li class="hoverable"><a href="https://www.hackerrank.com/imKaka?hr_r=1" target="_blank"><img src="{{ site.baseurl }}img/hackerRank.png" class="responsive-img"></a></li>
               <li class="hoverable"><a href="https://www.imkaka10.wordpress.com" target="_blank"><img src="{{ site.baseurl }}img/wordpress.png" class="responsive-img"></a></li>

           </ul>
           <a class="waves-effect waves-light btn-floating btn-large social twitter hoverable">
           <i class="fa fa-twitter"></i>twitter</a>
           <a class="waves-effect waves-light btn-floating btn-large social facebook hoverable">
<i class="fa fa-facebook"></i>facebook</a>
            <a class="waves-effect waves-light btn-floating btn-large social github hoverable">
<i class="fa fa-github"></i> Sign in with github</a>
            <a class="waves-effect waves-light btn-floating btn-large social linkedin hoverable">
<i class="fa fa-linkedin"></i> Sign in with linkedin</a>
          <a class="waves-effect waves-light btn-floating btn-large social dropbox hoverable">
<i class="fa fa-dropbox"></i> Sign in with dropbox</a>

<div class="fixed-action-btn horizontal click-to-toggle">
  <a class="btn-floating btn-large red">
      <i class="material-icons">menu</i>
  </a>
  <ul>
      <li>
          <a class="waves-effect waves-light btn-floating social linkedin"><i class="fa fa-linkedin"></i></a>
      </li>
      <li>
          <a class="waves-effect waves-light btn-floating linkedin"><i class="fa fa-linkedin"></i></a>
      </li>
      <li>
          <a class="waves-effect waves-light btn-floating linkedin"><i class="fa fa-linkedin"></i></a>
      </li>
  </ul>
</div>

         </div>  -->

<div class="social">
  <h4>
    {% if site.github %}
    <a href="https://github.com/{{ site.github }}"><i class="fab fa-github" style="font-size:36px"></i></a>
    {% endif %}
    {% if site.email %}
    <a href="mailto:{{ site.email}}"><i class="fas fa-envelope" style="font-size:36px"></i></a>
    {% endif %}

    {% if site.twitter %}
    <a href="https://twitter.com/{{ site.twitter }}"><i class="fab fa-twitter" style="font-size:36px"></i></a>
    {% endif %}
    {% if site.linkedin %}
    <a href="https://linkedin.com/in/{{ site.linkedin }}"><i class="fab fa-linkedin" style="font-size:36px"></i></a>
    {% endif %}
    {% if site.telegram %}
    <a href="https://t.me/{{ site.telegram }}"><i class="fab fa-telegram" style="font-size:36px"></i></a>
    {% endif %}
    {% if site.facebook %}
        <a href="https://facebook.com/{{ site.facebook }}"><i class="fab fa-facebook-square" style="font-size:36px"></i></a>
    {%endif%}
    {% if site.stackoverflow %}
    <a href="https://stackoverflow.com/{{ site.stackoverflow }}"><i class="fab fa-stack-overflow" style="font-size:36px"></i></a>
    {% endif %}
    {% if site.hackerrank %}
    <a href="https://www.hackerrank.com/{{ site.hackerrank }}"><i class="fab fa-hackerrank" style="font-size:36px"></i></a>
    {% endif %}
    {% if site.khanacademy %}
        <a href="http://www.khanacademy.org/profile/{{ site.khanacademy }}"><i class="fas fa-feather-alt" style="font-size:36px"></i></a>
    {%endif%}
    {% if site.codepen %}
        <a href="https://codepen.io/{{ site.codepen }}"><i class="fa fa-codepen" style="font-size:36px"></i></a>
    {%endif%}
    {% if site.campus_expert %}
        <a href="https://githubcampus.expert/techytushar/"><i class="fa fa-github-alt" style="font-size:36px"></i></a>
    {%endif%}
  </h4>
</div>


