
<div class="social">
  <h4>
    {% if site.github %}
    <a href="https://github.com/{{ site.github }}"><i class="fab fa-github" style="font-size:36px"></i></a>
    {% endif %}
    {% if site.email %}
    <a href="mailto:{{ site.email}}"><i class="fas fa-envelope" style="font-size:36px"></i></a>
    {% endif %}

    {% if site.twitter %}
    <a href="https://twitter.com/{{ site.twitter }}"><i class="fab fa-twitter" style="font-size:36px"></i></a>
    {% endif %}
    {% if site.linkedin %}
    <a href="https://linkedin.com/in/{{ site.linkedin }}"><i class="fab fa-linkedin" style="font-size:36px"></i></a>
    {% endif %}
    {% if site.telegram %}
    <a href="https://t.me/{{ site.telegram }}"><i class="fab fa-telegram" style="font-size:36px"></i></a>
    {% endif %}
    {% if site.facebook %}
        <a href="https://facebook.com/{{ site.facebook }}"><i class="fab fa-facebook-square" style="font-size:36px"></i></a>
    {%endif%}
    {% if site.stackoverflow %}
    <a href="https://stackoverflow.com/{{ site.stackoverflow }}"><i class="fab fa-stack-overflow" style="font-size:36px"></i></a>
    {% endif %}
    {% if site.hackerrank %}
    <a href="https://www.hackerrank.com/{{ site.hackerrank }}"><i class="fab fa-hackerrank" style="font-size:36px"></i></a>
    {% endif %}
    {% if site.khanacademy %}
        <a href="http://www.khanacademy.org/profile/{{ site.khanacademy }}"><i class="fas fa-feather-alt" style="font-size:36px"></i></a>
    {%endif%}
    {% if site.codepen %}
        <a href="https://codepen.io/{{ site.codepen }}"><i class="fa fa-codepen" style="font-size:36px"></i></a>
    {%endif%}
    {% if site.campus_expert %}
        <a href="https://githubcampus.expert/imkaka/"><i class="fa fa-github-alt" style="font-size:36px"></i></a>
    {%endif%}
  </h4>
</div>


