<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>

    <!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}Static/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
            <li><a href="/blog">Blog</a></li>
	        	<li><a href="/projects">Projects</a></li>
        		<li><a href="/cv">Resume</a></li>

    		</ul>
		</nav>
		<div class="container">
    		{{ content }}
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:anil.soccer.khatri@gmail.com">Mail</a></li>
        		<li><a href="https://github.com/imkaka">Github</a></li>
            <li><a href="https://twitter.com/Kakaism10">Twitter</a></li>
            <li><a href="https://www.linkedin.com/in/anil-khatri-0841223a/">Linkedn</a></li>
            <li><a href="https://www.hackerrank.com/imKaka?hr_r=1">Hackerrank</a></li>

			</ul>
		</footer>
	</body>
</html>
