<!DOCTYPE html>
<html>
	<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130957798-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-130957798-1');
    </script>


    {% if page.title %}
      <title>{{ page.title }}</title>
    {% else %}
      <title>{{ site.title }}</title>
    {% endif %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


    <!-- link to main stylesheet & materialize css files. -->
		<link rel="stylesheet" type="text/css" href="{{site.baseurl}}css/main.css">
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}css/materialize.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">



    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
     -->

    <!--  Font -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,200bold,400old" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">



	  <meta property="og:image" content="http://imkaka.github.io/img/avatar.jpg" />
	  <meta property="og:image:type" content="image/jpeg" />
	  <meta property="og:image:width" content="960" />
	  <meta property="og:image:height" content="889" />
	  <meta property="og:locale" content="en_US" />
	  <meta property="og:type" content="article" />
	  <meta property="og:title" content="Anil Khatri" />
	  <meta property="og:description" content="Anil Khatri CP and Open Source Enthusiast." />
    <link rel="icon" href="{{ site.baseurl }}img/favicon.ico">
	  <meta property="og:url" content="http://imkaka.github.io" />
	  <meta property="og:site_name" content="imkaka.github.io" />

    <!-- Google Analytics -->
    {% include analytics.html %}

	</head>

	<body>
    <div id="wrap">
    <!-- Navbar header -->
    {% include header.html %}

    {{ content }}
    </div>
      <!--Footer -->
        {% include footer.html %}

      <!--Name Animation-->
      <script src = "{{site.baseurl}}js/pxbWriter.js"></script>

      <!-- Jquery and m.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

      <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}js/main.js" />
      <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>-->

      <!--<script type="text/javascript" src = "js/materialize.js"></script>-->
      <script type="text/javascript" src = "{{site.baseurl}}js/materialize.min.js"></script>
      <script src="{{ site.baseurl }}js/docs.min.js"></script>


      <script>
         $(document).ready(function(){
          $('.sidenav').sidenav();
      var targetWriter = new Writer($("#target"), $("#target-cursor"), $("#target-mark"), 100, false, false, 0);
      //targetWriter.setMark("");
      targetWriter.write(" Anil Khatri ", 0);
      targetWriter.setCursor("'");
      setInterval(function(){
    targetWriter.animateCursor(600);
  }, 0);

$("#test1").delay(2000).animate({"opacity":"1"},500);
$("#test2").delay(2500).animate({"opacity":"1"},500)
$("#test3").delay(3000).animate({"opacity":"1"},500);
$("#test4").delay(3500).animate({"opacity":"1"},500);
$("#test5").delay(4000).animate({"opacity":"1"},500);
$("#test6").delay(4500).animate({"opacity":"1"},500);
});
</script>

	</body>
</html>
